.navLinks {
  margin: 24px 0;
  display: flex;

  li {
    display: flex;
    align-items: center;

    a {
      cursor: pointer;
      transition: all 0.1s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
